name: "Nix"
on:
  pull_request:
  push:
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v14
      with:
        name: sc-tools
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Flake check
      run: nix flake check
